{% extends 'base.html' %}
{% block content %}

<h1>Car List</h1>

{% for car in cars %}
    <div class="card">
        <a href="{% url 'detail' car.id %}">
            <div class="card-content">
                <span class="card-title">{{ car.make }} {{ car.model }}</span>
                <p>Description: {{ car.description }}</p>
                {% if car.year > 2000 %}
                    <p>Year: {{ car.year }}</p>
                {% else %}
                    <p>Vintage Status ( {{ car.year }} )</p>
                {% endif %}
            </div>
        </a>
    </div>
{% endfor %}

{% endblock %}